<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>JavaScript Node Express</string>
	<key>ordering</key>
	<array>
		<string>17076F45-FE22-4123-AD00-0C8E31BC2EB8</string>
		<string>5ECAB6F6-77CD-4A15-A646-BE4B01B3944F</string>
		<string>59AF7588-E4A5-4BD4-8CF0-50EDB8068520</string>
	</array>
	<key>uuid</key>
	<string>B4B8CCA9-FD56-471B-B7D8-A7B1A1B06E78</string>
</dict>
</plist>
