<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>JavaScript Node Express</string>
	<key>uuid</key>
	<string>B4B8CCA9-FD56-471B-B7D8-A7B1A1B06E78</string>
</dict>
</plist>
